.none {
  display: none;
}

.subscriptionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.input-field {
  margin: 10px;
}